{% verbatim %}
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    <a href="#/new" class="btn btn-primary btn-sm pull-right">New Item</a>
<table class="table">
    <thead>
    <tr>
        <th>
            Date Added
        </th>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items" class="item-animate" ng-class="{'success' : item.is_sold}">
        <td>
            {{ item.date_added | date : 'shortDate' }}
        </td>
        <td ng-show="item.image_item">
            <img ng-src="{{ item.image_item[0] }}" height="80">
        </td>
        <td ng-hide="item.image_item">
            <img src="/static/images/no-image.jpg/" height="80">
        </td>
        <td>
            <h4 data-toggle="tooltip" data-placement="top" title="{{ item.name }}">{{ item.name |cut:true:25:' ...' }}</h4>
        </td>
        <td ng-show="item.listing_url">
            <div class="btn-group">
            <a class="btn btn-sm btn-default" href="#/{{ item.id }}">Update</a>
            <a class="btn btn-sm btn-success" href="{{ item.listing_url }}" target="_blank">Check Listing</a>
            </div>
        </td>
        <td ng-hide="item.listing_url">
            <div class="btn-group">
            <a class="btn btn-sm btn-default" href="#/{{ item.id }}">Update</a>
            <a class="btn btn-sm btn-warning" href="http://csr.ebay.com/cse/start.jsf" target="_blank">New Listing</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center" ng-if="item.count == 0">
    <br /><br />
    <div class="col-lg-4 col-lg-offset-4">
        <a class="btn btn-lg btn-primary" href="#/new">Open a Case</a>
    </div>
</div>
</div>
</div>
</div>
{% endverbatim %}