<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
  }
</style>
{% verbatim %}
<div class="container">
<form class="form-horizontal" name="item_form" novalidate>
        <fieldset>
        <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Item Details</h2>
        </div>
            <div class="panel-body">
            <div class="control-group" ng-class="{ 'has-error' : item_form.category.$invalid && !item_form.category.$pristine }">
                <label class="control-label" for="category"><strong>Category:</strong></label>

                <div class="controls">
                    <select ng-model="item.category" name="category" class="form-control" required>
                        <option selected="selected" value="1">
                            Misc - 1
                        </option>
                    </select>
                </div>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : item_form.name.$invalid && !item_form.name.$pristine }">
                <label class="control-label" for="name"><strong>Name:</strong></label>

                <div class="controls">
                    <input name="name" class="form-control" type="text" ng-model="item.name" ng-maxlength="255" required>
                </div>
                <p ng-show="item_form.name.$invalid && !item_form.name.$pristine" class="help-block">Name is Required</p>
            </div>
            <div class="control-group" ng-class="{ 'has-error' : item_form.purchased_for.$invalid && !item_form.purchased_for.$pristine }">
                <label class="control-label" for="purchased_for"><strong>Purchased
                for:</strong></label>

                <div class="controls">
                    <input name="purchased_for" class="form-control"  type="number" step="any" ng-model="item.purchased_for" ng-maxlength="10" required>
                </div>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : item_form.description.$invalid && !item_form.description.$pristine }">
                <label class="control-label" for=
                "description">description:</label>

                <div class="controls">
                    <textarea cols="40" name="description" class="form-control" rows="10" ng-model="item.description"></textarea>
                </div>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : item_form.item_weight.$invalid && !item_form.item_weight.$pristine }">
                <label class="control-label" for="item_weight">item
                weight:</label>

                <div class="controls">
                    <input name="item_weight" class="form-control" type="number" step="any" ng-model="item.item_weight" ng-maxlength="10" >
                </div>
            </div>
        </div>
        </div>
  <a href="#/" class="btn btn-default">Cancel</a>
  <button ng-click="createNewItem()" class="btn btn-primary" ng-disabled="item_form.$invalid">Save</button>
        </fieldset>
 </form>
</div>
{% endverbatim %}